[submodule "extern/cpputest"]
	path = extern/cpputest
	url = https://github.com/cpputest/cpputest.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
